.channel-wrapper {
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.channel-header {
  padding: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

.channel-header .btn {
  margin-left: 5px;
}

.channel-done {
  display: none;
}

.channel-box {
  padding: 10px 0;
  background-color: #f5f5f5;
}

.channel {
  position: relative;
  float: left;
  margin: 10px;
  padding: 0 5px;
  width: 100px;
  height: 30px;
  border: 1px solid #EEEEEE;
  background-color: #fff;
}

.channel-selected {
  border: 1px dashed cornflowerblue;
}

.channel-ipt {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.channel-del {
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 20px;
}

.channel-group.sort .channel-del {
  visibility: hidden;
}

.channel-group.sort .channel-add {
  display: none;
}

.channel-group.sort .channel-done {
  display: block;
}

.channel-group.sort .channel-box {
  background-color: #d8f5e4;
}
