@imgRoot: 'http://n.sinaimg.cn/finance/toutiao/images/';
.bg(@name, @w, @h, @x, @y) {
  background: url('@{imgRoot}@{name}.png') no-repeat @x @y;
  background-size: @w @h;
}

.df(@row) when (@row = true) {
  // old
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  // mix
  display: -ms-flexbox;
  -ms-flex-direction: row;
  // standard
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.df(@row) when not (@row = true) {
  // old
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  // mix
  display: -ms-flexbox;
  -ms-flex-direction: column;
  // standard
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex(@grow, @shrink, @basis) {
  // old
  -webkit-box-flex: @grow;
  -moz-box-flex: @grow;
  // mix
  -ms-flex: @grow @shrink @basis;
  // standard
  -webkit-flex: @grow @shrink @basis;
  flex: @grow @shrink @basis;
}

.onePx(@color, @position) when (@position = before) {
  border: none;
  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: @color;
    clear: both;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
  }
}

.onePx(@color, @position) when (@position = after) {
  border: none;
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: @color;
    clear: both;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
  }
}

.onePx(@color, @position) when (@position = both) {
  border: none;
  &:before,
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: @color;
    clear: both;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
  }
}

body {
  padding-bottom: .9rem;
  background-color: #fafafa;
}

// 扩展模块
.module-extend {
  margin-bottom: .3rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ffffff;
}

// 扩展模块名称
.module-name {
  border-bottom: 1px solid #e0e0e0;
  .name {
    margin: .22rem 0;
    padding-left: .24rem;
    height: .36rem;
    line-height: .35rem;
    font-size: 16px;
    color: #555555;
    border-left: .06rem solid #326fd3;
  }
}

// header
.module-header {
  height: 42px;
  line-height: 42px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #dfdfdf;
  font-size: 16px;
  .header-nav {
    float: right;
    width: 40px;
    height: 42px;
    text-indent: -999em;
    overflow: hidden;
    background: url(http://mjs.sinaimg.cn/wap/module/header_footer/201509011010/images/head_foot_ico.png) no-repeat 8px -44px;
    background-size: 50px auto;
  }
  .header-user {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    border-radius: 9999px;
    overflow: hidden;
    background: url(http://mjs.sinaimg.cn/wap/module/header_footer/201509011010/css/../images/head_foot_ico.png?t=1462438987589) no-repeat 0 -164px;
    background-size: 50px auto;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .header-logo {
    float: left;
    position: relative;
    width: 52px;
    height: 42px;
    overflow: hidden;
    border-right: 1px solid #dfdfdf;
    color: #1a1a1a;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
    }
  }
  .crumble-item {
    float: left;
    padding: 0 12px 0 8px;
    color: #1a1a1a;
    background: url(http://mjs.sinaimg.cn/wap/module/header_footer/201509011010/images/head_foot_ico.png) no-repeat right -92px;
    background-size: 50px auto;
  }
}

// 文章
.module-article {
  padding: .4rem .3rem .6rem;
  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
  }
  .extra {
    padding-top: .2rem;
    min-height: .55rem;
    color: #999;
    font-size: 12px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 1.2;
  }
  .tags {
    display: none;
    margin-top: .25rem;
  }
  .tag {
    color: #0583e6;
    padding-left: .1rem;
    padding-right: .15rem;
  }
  .author {
    margin-top: .35rem;
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.2;
  }
  .main-body {
    position: relative;
    margin-top: .3rem;
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
    color: #505050;
    font-size: 18px;
    line-height: 1.6;
    overflow: hidden;
    img {
      display: block;
      margin: .2rem auto;
      max-width: 100%;
    }
    a {
      color: #0583e6;
    }
    u, ins {
      text-decoration: none;
    }
    p, div {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    iframe {
      border: none;
      width: 1px;
      min-width: 100%;
    }
    video {
      width: 100%;
      max-height: 200px;
      background-color: #000000;
    }
  }
  .unfold-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .unfold-mask {
    margin-bottom: 0 !important;
    height: .8rem;
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(250, 250, 250, .3) 20%, #fafafa);
  }
  .unfold-btn {
    padding-top: .15rem;
    height: .6rem;
    line-height: .6rem;
    background-color: #fafafa;
    text-align: center;
  }
  .unfold-line {
    position: relative;
    top: -.3rem;
    border-top: 1px dotted #e0e0e0;
  }
  .unfold-words {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 2.3rem;
    height: 100%;
    background-color: #fafafa;
    font-size: 14px;
    color: #3990e6;
  }
  .unfold-icon {
    margin-left: .15rem;
    vertical-align: middle;
    display: inline-block;
    width: .25rem;
    height: .14rem;
    .bg(article-btn-unfold, 100%, 100%, 0, 0);
  }
}

// 大图
.bigimg-popup-container {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: 0 !important;
  margin-top: 0 !important;
  background-color: #000000;
  .img-box {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
  }
}

// 字体
// 小
.font-size-0 {
  .module-article {
    .title {
      font-size: 22px;
    }
    .main-body {
      font-size: 17px;
    }
  }
}

// 中
.font-size-1 {
  .module-article {
    .title {
      font-size: 24px;
    }
    .main-body {
      font-size: 18px;
    }
  }
}

// 大
.font-size-2 {
  .module-article {
    .title {
      font-size: 26px;
    }
    .main-body {
      font-size: 20px;
    }
  }
}

// 特大
.font-size-3 {
  .module-article {
    .title {
      font-size: 28px;
    }
    .main-body {
      font-size: 22px;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .module-article {
    .extra {
      .onePx(#e0e0e0, after);
    }
  }

  .module-extend {
    .onePx(#e0e0e0, both);
  }

  .module-name {
    .onePx(#e0e0e0, after);
  }

  // 相关阅读不需要bottom border
  .module-recommend:after {
    height: 0;
  }
}


